.page {
  background: #82bcc6;

  & div:first-child {
    padding: 2rem;
    background-color: #fff;
  }
}

.title {
  & > *:nth-child(1) {
    color: darken($color: #82bcc6, $amount: 20);
  }
}

.example_section {
  width: 100%;

  & h3 {
    margin-bottom: 0.75rem;
    padding: 0.75rem;

    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;

    background-color: #d1d1d1;
    border-radius: 0.5rem;
  }
}
