.page {
  background: #5988a9;
}

.items_container {
  overflow: scroll;

  width: 100%;

  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 12px 12px 0 0 rgba($color: #000, $alpha: 20%);

  &::-webkit-scrollbar {
    display: none;
  }
}
