@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap';

$primary: #7cfffd;

.page {
  font-family: 'Roboto Mono', monospace;
  background: #0b141f;
}

.title {
  color: $primary;
}
