.page {
  padding-top: 3rem;
  background: #e2e2e2;

  & > div:first-child {
    background: linear-gradient(white 30%, hsl(0deg 0% 100% / 0%)),
      linear-gradient(hsl(0deg 0% 100% / 0%), white 70%) bottom,
      linear-gradient(to bottom, rgb(0 0 0 / 20%), transparent),
      linear-gradient(to top, rgb(0 0 0 / 20%), transparent) bottom;
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 40px, 100% 40px, 100% 1rem, 100% 1rem;
  }
}
