@import '../../scss/media';

.page {
  background-color: #887490;
}

.title {
  color: #fff;

  & > *:nth-child(2) {
    font-size: 3rem;
    color: #fff;
  }
}

.videos li {
  display: flex;
  justify-content: space-between;

  padding: 20px;

  color: #474747;

  border-bottom: 1px solid #d1d1d1;

  & span {
    font-weight: 500;
    color: #887490;
  }
}
