$size: 100px;

.hole {
  position: relative;
  width: $size;
  height: $size;
  border: 1px solid #000;
}

.dirt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mole {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
