@import '../../scss/media';

$btn_primary: #ffa845;

.page {
  background: linear-gradient(#a7d8de, #3f4d75);
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  width: 100%;
  padding: 1rem;

  background-color: #fff;
  border-radius: 0.5rem;

  &_status {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1rem;

    width: 100%;

    & p {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;

      padding: 0.5rem;

      font-weight: 500;

      background-color: #eff0f6;
      border-radius: 0.5rem;

      & span {
        font-weight: 700;
        color: $btn_primary;
      }

      select:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }

  &_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
  }
}

.words_container {
  overflow-y: scroll;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.words {
  width: 100%;
  padding: 0.5rem 2rem;

  line-height: 3rem;

  background: linear-gradient(to right, #fff0 24px, #d9eaf3 25px 27px, #fff0 27px),
    repeating-linear-gradient(#fff 0 96%, #d9eaf3 96% 100%);
  background-size: 100% 3rem;
  box-shadow: 10px 10px 0 rgb(0 0 0 / 10%);
}

.default_text {
  color: #a4a4a4;
}

.snack {
  background-color: #42907c;
}
