.paragraph_container {
  width: 100%;
}

%base_float_item {
  width: 300px;
  height: 300px;
  background: #fff0;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.float_left {
  @extend %base_float_item;

  float: left;
  margin-top: 0.4rem;
  margin-right: 1rem;
}

.float_right {
  @extend %base_float_item;

  float: right;
  margin-top: 0.4rem;
  margin-left: 1rem;
}

.text {
  font-size: 1.25rem;
  line-height: 140%;
  text-align: justify;
  letter-spacing: 0.5px;
}
