@use './color' as c;

.timer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .time_value {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 0.75rem;
    width: 100%;
  }

  .time_run {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 0.75rem;
    width: 100%;
  }
}

.inputs {
  display: flex;
  gap: 1rem;
  align-items: center;

  span {
    font-size: 3rem;
    color: #fff;
  }
}
