@use '../../scss/space' as space;

.base {
  position: relative;
  height: 100vh;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  position: relative;

  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: space.$gap_3;
  align-items: center;

  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;

  &::-webkit-scrollbar {
    display: none;
  }
}
