.input_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;

  & input {
    cursor: pointer;

    width: 100%;
    margin: 0;

    appearance: none;
    outline: none;
  }
}

$control_height: 1.2rem;

input[type='range'] {
  background: none; // 清除不必要的東西

  // 進度條背景
  &::-webkit-slider-runnable-track {
    overflow: hidden;
    height: $control_height;
    background-color: #bcbcbc;
    border-radius: 0.2rem;
  }

  // 調整拖曳鈕
  &::-webkit-slider-thumb {
    width: $control_height;
    height: $control_height;

    appearance: none;
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: -101vw 0 0 100vw #78acd0;
  }
}

input[type='color'] {
  height: $control_height;
  border-radius: 0.2rem;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
  }
}
