.input_container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: flex-start;

  width: 100%;

  & input {
    cursor: pointer;

    width: 100%;
    margin: 0;

    appearance: none;
    outline: none;
  }
}

$control_height: 1.5rem;
$border_radius: 0.5rem;

input[type='range'] {
  overflow: hidden;

  height: $control_height;

  background: none; // 清除不必要的東西
  border: 1px solid #dedede;
  border-radius: $border_radius;

  // 進度條背景
  &::-webkit-slider-runnable-track {
    overflow: hidden;
    height: $control_height;
    background-color: #bcbcbc;
  }

  // 調整拖曳鈕
  &::-webkit-slider-thumb {
    width: $control_height;
    height: $control_height;

    appearance: none;
    background-color: #fff;
    border-radius: $border_radius;
    box-shadow: -101vw 0 0 100vw #78acd0;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

input[type='color'] {
  height: $control_height;
  border: 1px solid #eaeaea;
  border-radius: $border_radius;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
  }
}
