@import '../../scss/media';
@import 'https://fonts.googleapis.com/css2?family=Concert+One&display=swap';

$primary: #ff9d3c;
$shadow: darken($primary, 20%);
$highlight: rgba(
  $color: $primary,
  $alpha: 40%,
);
$text: #797979;
$bg_color_outside: #7aa4ce;
$bg_color_inside: #fff;
$border: 10px solid
  rgba(
    $color: $primary,
    $alpha: 70%,
  );

.page {
  font-family: 'Concert One', cursive;
  background-color: $bg_color_outside;
}

.info {
  @include more992 {
    font-size: 3rem;
  }

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  padding: 4rem 3rem;

  font-size: 2rem;
  font-weight: 700;
  line-height: 200%;
  color: $text;
  text-align: center;

  background-color: $bg_color_inside;
  border: $border;
  border-radius: 1rem;
  box-shadow: inset 0 0 1rem 0 rgb(0 57 90 / 33.6%);

  span,
  button {
    @include more992 {
      font-size: 2.5rem;
    }

    font-size: 2rem;
    border-radius: 0.75rem;
  }

  & span {
    padding: 0.3rem 1rem 0.7rem;
    background-color: $highlight;
  }

  & button {
    padding: 0.5rem 1rem 0.7rem;
    color: #fff;
    background-color: $primary;
    box-shadow: 0 3px 0 1px $shadow;

    &:active {
      transform: translate(0, 3px);
      box-shadow: 0 0 0 1px $shadow;
    }
  }
}

.canvas_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.canvas {
  height: 100%;
  opacity: 1;
  background-color: rgb(255 255 255 / 0%);
}
