.page {
  background: #0e3049;
}

.title {
  // font-family: 'helvetica neue', sans-serif;
  // letter-spacing: 0.1rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 160%;
  color: white;
  text-align: center;
}

.controls {
  display: flex;
  gap: 1rem;
  justify-content: center;

  min-height: 75px;

  font-size: 1.2rem;
  font-weight: 500;
  color: #7ed8ff;
}

.example_img {
  max-width: 800px;
  max-height: 500px;
  margin: 0 auto;
  border-radius: 1.5rem;
}
