.page {
  background-color: #d3d5f0;
}

.tables {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: 100%;
  padding: 3rem 2rem;

  background-color: #fff;
  border-radius: 1rem;
}

.hr {
  width: 100%;
  padding-top: 3px;
  background: repeating-linear-gradient(
    to right,
    #a2a9b6 0 3px,
    transparent 0 calc(3px + 10px)
  );
  border: 0;
}
