$color_1: #ffbab2;
$color_2: #f4d97d;
$color_3: #a6d9e6;

.page {
  background: #fff;
  background: radial-gradient(
        closest-side,
        rgba($color: $color_1, $alpha: 45%) 20%,
        #fff0 20%
      )
      10px -10px,
    radial-gradient(closest-side, rgba($color: $color_2, $alpha: 45%) 20%, #fff0 20%) 0
      10px,
    radial-gradient(closest-side, rgba($color: $color_3, $alpha: 45%) 20%, #fff0 20%) -10px -10px;
  background-size: 40px 40px;
}

.title {
  width: fit-content;
  padding: 1rem 2rem 1.2rem;

  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to right, $color_1, $color_2, $color_3) border-box;
  border: 8px solid transparent;
  border-radius: 50px;

  & span:nth-child(1) {
    color: $color_1;
  }

  & span:nth-child(2) {
    color: $color_2;
  }

  & span:nth-child(3) {
    color: $color_3;
  }
}

.container {
  position: relative;
  z-index: 99;

  overflow: hidden;
  display: flex;

  width: 100%;
  height: 100%;

  background: #c2c2c2;
  border-radius: 0.5rem;
}

.shadow {
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  box-shadow: inset 0 0 1rem 4px rgba($color: #000, $alpha: 40%);
}

.scroll_items {
  cursor: grab;
  user-select: none;

  overflow-x: overlay;
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 1rem 5rem 1rem 0;

  perspective: 300px;
  perspective-origin: center 60%;

  &::-webkit-scrollbar {
    height: 16px;
    appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #737373;
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-track {
    background: #fff0;
  }
}

.active {
  cursor: grabbing;
  background-color: #ececec;
  transition: background-color 0.2s ease-out;
}

.item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: calc(100% - 100px);

  box-shadow: inset 0 0 0 4px #fff;

  & > p {
    font-size: 2rem;
    color: #fff;
  }

  &:nth-child(even) {
    transform: scaleX(1.07) rotateY(20deg);
  }

  &:nth-child(odd) {
    transform: scaleX(1.07) rotateY(-20deg);
  }

  &:nth-child(3n + 1) {
    background: $color_1;
  }

  &:nth-child(3n + 2) {
    background: $color_2;
  }

  &:nth-child(3n + 3) {
    background: $color_3;
  }
}
